<!--
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - MonoGamingStore</title>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/wwwroot/css/tabla.css" />
</head>
<h1 style="color: rgb(227, 238, 238)">Descripcion de la Venta</h1>



<table border="2" class="table text-center">
   <thead style="color: rgb(227, 238, 238);background-color: rgb(8, 7, 7);">
      <tr>
         <th>foto del producto</th>
         <th>Nombre</th>
         <th>cantidad</th>
         <th>Precio por unidad</th>
         <th>Precio Final</th>
         <th>Accion</th>
      </tr>
   </thead>

   <tbody style="color: rgb(227, 238, 238);background-color: rgb(8, 7, 7);">
      <tr>
         <td width="20%">
            <img class="imagen m-0" src="~/img/lavadora.jpg" width="60%">
         </td>

         <td width="30%" style="vertical-align: middle;">
            Monitor
         </td>
         <td width="10%" style="vertical-align: middle;">
            <input id="selector-1" style="text-align: center;width: 80%;" type="number" onchange="multiplicador1();">
         </td>

         <td style="vertical-align: middle;">
            <span id="precio-1">s/.90.00</span>
         </td>

         <td style="vertical-align: middle;">
            <span id="Pfinal-1">s/.90.00</span>
         </td>
         <td style="vertical-align: middle;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
               <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
            </div>
         </td>
      </tr>
      <tr>
         <td width="20%">
            <img class="imagen m-0" src="~/img/lavadora.jpg" width="60%">
         </td>

         <td width="30%" style="vertical-align: middle;">
            Monitor
         </td>
         <td width="10%" style="vertical-align: middle;">
            <input id="selector-2" style="text-align: center;width: 80%;" type="number" onchange="multiplicador2();">
         </td>

         <td style="vertical-align: middle;">
            <span id="precio-2">s/.90.00</span>
         </td>

         <td style="vertical-align: middle;">
            <span id="Pfinal-2">s/.90.00</span>
         </td>
         <td style="vertical-align: middle;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
               <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
            </div>
         </td>
      </tr>
      <tr>
         <td width="20%">
            <img class="imagen m-0" src="~/img/lavadora.jpg" width="60%">
         </td>

         <td width="30%" style="vertical-align: middle;">
            Monitor
         </td>
         <td width="10%" style="vertical-align: middle;">
            <input id="selector-3" style="text-align: center;width: 80%;" type="number" onchange="multiplicador3();">
         </td>

         <td style="vertical-align: middle;">
            <span id="precio-3">s/.90.00</span>
         </td>

         <td style="vertical-align: middle;">
            <span id="Pfinal-3">s/.90.00</span>
         </td>
         <td style="vertical-align: middle;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
               <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
            </div>
         </td>
      </tr>
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td>TOTAL</td>
         <td>S/. 1000.00 </td>
      </tr>

   </tbody>
</table>
<div class="row justify-content-center pt-4">
   <button type="button" id="btn4" class="btn btn-success ml-2">Comprar</button>

   <a href="/home/Index">
      <button type="button" id="btn3" href="~/home/Index.cshtml" class="btn btn-warning ml-3">Seguir
         Comprando</button> </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/Ventas.js"></script>
<script src="~/js/alerta.js"></script>-->


@model List<Carrito>

<div class="text-center container row-1 my-4" style="background: #c00b0b">
  <h1 class="text-white" style="margin-bottom: 2%;">Carrito de Compras</h1>
</div>
<img class="mx-auto d-block" src="~/img/logo.png" height="60px">

<div class="d-flex justify-content-end" style="width: 65%;">
   <a href="/Pantallas/Monitores" class="btn btn-info mb-2 font-weight-bold mr-2">Seguir Comprando</a>
   <a class="btn btn-success text-white mb-2 ml-2 mr-5 font-weight-bold">Comprar</a>
</div>

<div class="d-flex flex-wrap" style="width: 100%;">
   <table class="table table-dark border" style="width: 60%;">
      <tr>
          <th>Nombre del Producto</th>
          <th>Foto del Producto</th>
          <th>Precio</th>
          <th>Tipo de Producto</th>
          <th></th>
      </tr>
      @foreach (var item in Model)
      {
          <tr>
              <td>@item.Nombre</td>
              <td><img src="@item.Foto" width="100px"> </td>
              <td>@item.Precio</td>
              <td>@item.Categoria</td>

              <td>
               <form action="/ventas/Eliminar" method="post" class="d-inline-block">
                  <input type="hidden" name="id" value="@item.ProductoId" />
                  <button class="btn btn-danger">Quitar</button>
               </form>
              </td>
          </tr>
      }
      @if (Model.Count == 0) {
          <tr>
              <td colspan="12" class="text-center">
                  <h3>Su carrito esta vacio</h3>
              </td>
          </tr>
      }    
  </table>

   <div class="total ml-5 mb-3 border" style="background-color: white; width: 35%;">
      <h2 class="text-center mt-3">Resumen de Compra</h2>
   </div>

</div>
  

