
@model List<Carrito>

<head>
   <link rel="stylesheet" href="~/css/Emergente.css" />
</head>

<div class="text-center container row-1 my-4" style="background: #c00b0b">
  <h1 class="text-white" style="margin-bottom: 2%;">Carrito de Compras</h1>
</div>
<img class="mx-auto d-block" src="~/img/logo.png" height="60px">

<div class="d-flex justify-content-end" style="width: 65%;">
   <a href="/Pantallas/Monitores" class="btn btn-info mb-2 font-weight-bold mr-5" style="cursor: pointer; box-shadow: white 0px 0px 2px 2px;">Seguir Comprando</a>
</div>

<div class="d-flex flex-wrap" style="width: 100%;">
   <table class="table table-dark border" style="width: 60%;">
      <tr>
          <th>Nombre del Producto</th>
          <th>Foto del Producto</th>
          <th>Precio</th>
          <th>Tipo de Producto</th>
          <th></th>
      </tr>
      @foreach (var item in Model)
      {
          <tr>
              <td>@item.Nombre</td>
              <td><img src="@item.Foto" width="100px"> </td>
              <td>@item.Precio</td>
              <td>@item.Categoria</td>

              <td>
               <form action="/ventas/Eliminar" method="post" class="d-inline-block">
                  <input type="hidden" name="id" value="@item.ProductoId" />
                  <button class="btn btn-danger">Quitar</button>
               </form>
              </td>
          </tr>
      }
      @if (Model.Count == 0) {
          <tr>
              <td colspan="12" class="text-center">
                  <h3>Su carrito esta vacio</h3>
              </td>
          </tr>
      }    
  </table>

   <div class="ml-5 mb-3 border text-center" style="background-color: white; width: 35%; height: fit-content;">
      <h2 class="text-center mt-3" style="border-bottom: 2px solid black; padding-bottom: 5%;">Resumen de Compra</h2>
      @{
         var total = 0.0;
         var contar = 1;
      }
      <table class="text-center" style="width: 100%; margin-top: 6%; margin-bottom: 6%;">
         <tr>
            <th>N°</th>
            <th>Descripcion</th>
            <th>Precio</th>
         </tr>
      @foreach (var item in Model){
         <tr>
            <td >@contar</td>
            <td >@item.Nombre</td>
            <td >@item.Precio</td>
            @{
               total = total + item.Precio;
               contar++;
            }
         </tr>
      }
      </table>

      <div class="total d-flex align-items-baseline text-center" style="border-top: 2px solid black; padding-top: 5%;">
         <h3 style="margin-left: 25%;">Total: </h3>
         <p style="margin-left: 5%; font-size: 150%;">S/ @total</p>
      </div>
      
      <a class="btn btn-success text-white mb-5 ml-2 font-weight-bold" href="#openModal" style="cursor: pointer; box-shadow: black 0px 0px 2px 2px;">Comprar</a>

      <!--MODAL DE CANCELACION-->
      <div id="openModal" class="modalDialog">
         <div>
            <a href="#close" title="Close" class="close">X</a>
            <div class="d-flex flex-wrap justify-content-center">
               <h2 style="font-weight: bold; font-size: 300%; ">Elegir Tarjeta</h2>
               <img class="Chango" width="10%" style="position: fixed; margin-top: 25%;" src="~/img/Tarjetas/chango.png">
            </div>
            
            <div class="CajaTarjetas">

               <div class="CajaT ">
                  <h4 class="NT">BCP</h4>
                  <a href='/ventas/TarjetaBCP'> 
                     <img class="Tarjetas" src="~/img/Tarjetas/t_bcp.png" >
                  </a>
               </div>

               <div class="CajaT ">
                  <h4 class="NT">Interbank</h4>
                  <a href='/ventas/tarjeta/"Interbank"'>
                     <img class="Tarjetas" src="~/img/Tarjetas/t_interbank.png" >
                  </a>
               </div>

               <div class="CajaT ">
                  <h4 class="NT">Scotiabank</h4>
                  <a>
                     <img class="Tarjetas" src="~/img/Tarjetas/t_scotia.png" >
                  </a>
               </div>

               <div class="CajaT ">
                  <h4 class="NT">MasterCard</h4>
                  <a>
                     <img class="Tarjetas" src="~/img/Tarjetas/t_mc.png" >
                  </a>
               </div>

               <div class="CajaT ">
                  <h4 class="NT">MGS</h4>
                  <a>
                     <img class="Tarjetas" style="border-radius: 15px;" src="~/img/Tarjetas/t_mgs.png" >
                  </a>
               </div>


            </div>


         </div>
      </div>

   </div>

</div>
  

